body {
    font-family: 'Poppins', sans-serif;
    background: #000;
    color: white;
}

.hero {
    position: relative;
    overflow: hidden;
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: -260px;
    width: 260px;
    height: 100vh;
    background: #0b0b0b;
    padding: 40px 25px;
    transition: .4s;
    z-index: 999;
}

.mobile-menu.active {
    left: 0
}

.mobile-menu a {
    display: block;
    margin: 20px 0;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.menu-toggle {
    display: none;
    font-size: 26px;
    cursor: pointer;
}

.star {
    position: absolute;
    width: 85px;
    height: 85px;
    z-index: 3;
}

.star svg {
    width: 100%;
    height: 100%
}

.star1 {
    top: 260px;
    left: 50px
}

.star2 {
    top: 120px;
    right: 260px
}

.star3 {
    top: 160px;
    right: 180px
}

.star4 {
    top: 250px;
    right: 80px
}

.plus-small {
    position: absolute;
    width: 34px;
    height: 34px;
    bottom: 20px;
    left: 110px;
    z-index: 3;
}

.plus-small::before,
.plus-small::after {
    content: "";
    position: absolute;
    background: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.plus-small::before {
    width: 1.5px;
    height: 100%
}

.plus-small::after {
    width: 100%;
    height: 1.5px
}

.ellipse-top {
    position: absolute;
    width: 2488px;
    height: 2380px;
    top: -2100px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background: #000;
    box-shadow:
        0 130px 132px rgba(157, 0, 255, .25),
        0 38px 45px rgba(157, 0, 255, .15),
        0 -2px 95px rgba(255, 255, 255, .58) inset,
        23px 0 0 rgba(255, 255, 255, .74) inset,
        0 5px 90px rgba(157, 0, 255, .5) inset;
}

.ellipse-glow {
    position: absolute;
    width: 1600px;
    height: 900px;
    top: -300px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background: radial-gradient(circle, rgba(8, 8, 8, .45), rgba(157, 0, 255, .15), transparent 70%);
    filter: blur(80px);
}

.header-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 23px;
    position: relative;
    z-index: 5;
}

.custom-navbar {
    width: 1200px;
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    border-radius: 50px;
    background: rgba(255, 255, 255, .04);
    backdrop-filter: blur(80px);
    border: .5px solid #E4B9FF;
}

.logo-brand {
    font-size: 28px;
    font-weight: 600
}

.nav-center {
    display: flex;
    gap: 50px
}

.nav-center a {
    text-decoration: none;
    color: #ddd
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 30px
}

.login-btn {
    padding: 10px 24px;
    border-radius: 30px;
    border: none;
    background: linear-gradient(90deg, #7b00ff, #b300ff);
    color: white;
}

.hero-content {
    margin-top: 120px;
    position: relative;
    z-index: 5;
}

.hero-row {
    min-height: 520px
}

.text-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 1.15;
    margin-bottom: 25px;
}

.hero h1 span {
    color: #9b5cff
}

.hero p {
    color: #aaa;
    max-width: 500px;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    margin-top: 40px;
}

.primary-btn {
    background: linear-gradient(90deg, #7b00ff, #b300ff);
    border: none;
    padding: 14px 34px;
    border-radius: 30px;
    color: white;
}

.divider-vertical {
    width: 1px;
    height: 45px;
    background: rgba(255, 255, 255, .4);
}

.play-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, .6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-col {
    display: flex;
    justify-content: flex-end;
    transform: translateX(-40px);
}

.image-stack {
    position: relative;
    width: 308px;
    height: 351px;
    cursor: grab;
    user-select: none;
    perspective: 1400px;
}

.image-stack::before {
    content: "";
    position: absolute;
    inset: -40px;
    background: radial-gradient(circle at var(--gx, 50%) var(--gy, 50%), rgba(157, 0, 255, .35), transparent 60%);
    filter: blur(40px);
    opacity: .7;
    z-index: 0;
    transition: .2s;
}

.stack-img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 35px;
    object-fit: cover;
    left: 0;
    top: 0;
    transition: transform .35s cubic-bezier(.2, .8, .2, 1);
    transform-style: preserve-3d;
    will-change: transform;
}

.img1 {
    z-index: 3
}

.img2 {
    z-index: 2
}

.img3 {
    z-index: 1
}

@media(max-width:991px) {

    .nav-center,
    .nav-right {
        display: none
    }

    .menu-toggle {
        display: block
    }

    .custom-navbar {
        width: 95%;
        padding: 0 25px;
    }

    .hero h1 {
        font-size: 42px;
        text-align: center;
    }

    .hero p {
        text-align: center;
        margin: auto;
    }

    .text-col {
        align-items: center;
        text-align: center;
    }

    .image-col {
        justify-content: center;
        transform: none;
        margin-top: 40px;
    }

    .image-stack {
        width: 260px;
        height: 300px;
    }

    .star1 {
        top: 165px;
        left: 140px
    }

    .star2 {
        top: 400px;
        right: 260px
    }

    .star3 {
        top: 450px;
        right: 180px
    }

    .star4 {
        top: 520px;
        right: 130px
    }


}

@media(max-width:576px) {

    .hero-content {
        margin-top: 70px
    }

    .hero h1 {
        font-size: 32px
    }

    .image-stack {
        width: 220px;
        height: 260px;
    }

    .hero-buttons {
        flex-direction: column;
        gap: 20px;


    }

    .star {
        position: absolute;
        width: 50px !important;
        height: 50px !important;
        z-index: 3;
    }

    .star1 {
        top: 120px;
        left: 10px
    }

    .star2 {
        top: 350px;
        right: 70px
    }

    .star3 {
        top: 380px;
        right: 10px
    }

    .star4 {
        top: 430px;
        right: 1px
    }

    .divider-vertical {
        display: none
    }

    .plus-small {
        position: absolute;
        width: 25px;
        height: 25px;
        bottom: 20px;
        left: 40px;
        z-index: 3;
        top: 50%px !important;
    }
}

.money-section {
    background: #000;
    color: white;
    overflow: hidden;
}

.money-text {
    color: #aaa;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 1.6;
}

.plus-group {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.plus-group span {
    display: inline-block;
    width: 12px;
    height: 12px;
    position: relative;
}

.plus-group span::before,
.plus-group span::after {
    content: "";
    position: absolute;
    background: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.plus-group span::before {
    width: 1px;
    height: 100%;
}

.plus-group span::after {
    width: 100%;
    height: 1px;
}

.stats-line {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 12px;
    font-size: 14px;
    letter-spacing: 1px;
}

.stat-number {
    font-size: 28px;
    font-weight: 600;
    color: white;
}

.stat-label {
    color: #aaa;
    margin-right: 10px;
}

.stat-plus {
    font-size: 20px;
    color: #aaa;
    margin: 0 10px;
}

@media (max-width: 991px) {

    .stats-line {
        justify-content: center;
        text-align: center;
    }

    .money-text {
        text-align: center;
    }

    .plus-group {
        justify-content: center;
    }
}

@media (max-width: 576px) {

    .money-text {
        font-size: 13px;
    }

    .stat-number {
        font-size: 22px;
    }

    .stat-label {
        font-size: 12px;
        margin-right: 6px;
    }

    .stat-plus {
        margin: 0 6px;
    }

    .stats-line {
        flex-direction: column;
        gap: 6px;
    }

    .plus-group span {
        width: 10px;
        height: 10px;
    }
}



.feature-title {
    font-weight: 300;
    font-size: 48px;
    line-height: 1.3;
    font-family: 'Poppins', sans-serif;
}

.gradient-text {
    background: linear-gradient(90deg, #FFFFFF, #9D00FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.3;
}

.feature-subtitle {
    font-family: 'Poppins', sans-serif;
    max-width: 850px;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.9;
}


.feature-card {
    width: 100%;
    max-width: 430px;
    min-height: 509px;
    padding: 30px;
    border-radius: 25px;

    background: linear-gradient(180deg, #39316C, #150F3D);
    border: 1px solid rgba(214, 207, 255, 0.5);

    box-shadow:
        0 0 40px rgba(123, 0, 255, 0.25),
        inset 0 0 20px rgba(255, 255, 255, 0.05);

    text-align: left;
    display: flex;
    flex-direction: column;
}

.icon-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: radial-gradient(circle, #2C2D7A, #0E1024);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
}

.visit-btn {
    width: 218px;
    height: 55px;
    margin-top: auto;
    border-radius: 30px;
    background: transparent;
    border: 1px solid #aaa;
    color: white;
    transition: .3s;
}

.visit-btn:hover {
    border-color: #9b5cff;
    color: #9b5cff;
}

.card-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 1.3;
    color: #fff;
}

.card-dec {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.8;
    color: #E2E2E2;
}


@media(max-width:991px) {

    .feature-title {
        font-size: 34px;
    }

    .gradient-text {
        font-size: 34px;
    }

    .feature-subtitle {
        font-size: 16px;
        line-height: 1.7;
        padding: 0 10px;
    }

    .feature-card {
        max-width: 520px;
        min-height: auto;
        text-align: center;
    }

    .card-title {
        font-size: 22px;
    }

    .card-dec {
        font-size: 15px;
        line-height: 1.6;
        text-align: center;
    }

    .icon-circle {
        width: 65px;
        height: 65px;
        font-size: 26px;
        margin: auto;
    }

    .visit-btn {
        margin: 25px auto 0;
    }
}


@media(max-width:576px) {

    .feature-title {
        font-size: 26px;
    }

    .gradient-text {
        font-size: 26px;
    }

    .feature-subtitle {
        font-size: 14px;
        line-height: 1.6;
    }

    .feature-card {
        max-width: 340px;
        padding: 25px;
        border-radius: 20px;
    }

    .icon-circle {
        width: 55px;
        height: 55px;
        font-size: 22px;
    }

    .card-title {
        font-size: 20px;
    }

    .card-dec {
        font-size: 14px;
        line-height: 1.6;
    }

    .visit-btn {
        width: 180px;
        height: 48px;
        font-size: 14px;
    }
}


@media(max-width:380px) {

    .feature-card {
        max-width: 280px;
        padding: 20px;
    }

    .card-title {
        font-size: 18px;
    }

    .card-dec {
        font-size: 13px;
    }

    .icon-circle {
        width: 48px;
        height: 48px;
        font-size: 18px;
    }

    .visit-btn {
        width: 160px;
        height: 44px;
        font-size: 13px;
    }
}

.payout-section {
    background: #000;
    color: white;
    position: relative;
}

.star {
    width: 85px;
    height: 85px;
    background: white;
    clip-path: polygon(50% 0%, 60% 40%, 100% 50%, 60% 60%,
            50% 100%, 40% 60%, 0% 50%, 40% 40%);
    bottom: 80%;
}

.payout-title {
    font-size: 38px;
    font-weight: 300;
    line-height: 38px;
    font-family: 'Poppins', sans-serif;
}

.gradient-text {
    background: linear-gradient(90deg, #FFFFFF, #9D00FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.payout-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 37px;
    color: #aaa;
    margin-top: 180px;
}

.visit-btn {
    padding: 12px 84px;
    border-radius: 30px;
    background: transparent;
    border: 1px solid #aaa;
    color: white;
    font-size: 18px;
}

.circle-arrow {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 1px solid #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
}


.orbit-wrapper {
    position: relative;
    width: 420px;
    height: 420px;
    margin: auto;
}

.center-logo {
    position: absolute;
    width: 193px;
    height: 193px;
    border-radius: 50%;
    background: radial-gradient(circle, #39316C, #150F3D);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 6px #7C66FF;
    z-index: 2;
}

.center-title {
    font-size: 36px;
}

.orbit {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.orbit-item {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;

    top: 80%;
    left: 38%;

    transform-origin: center -190px;

    animation: spin 20s linear infinite;
    animation-delay: calc(-2.5s * var(--i));
}

.orbit-item img {
    width: 85px;
    height: 85px;
    border-radius: 100%;
}

@keyframes spin {
    from {
        transform: rotate(0deg) translate(-50%, -50%);
    }

    to {
        transform: rotate(360deg) translate(-50%, -50%);
    }
}



@media (max-width: 991px) {

    .orbit-wrapper {
        width: 320px;
        height: 320px;
    }

    .center-logo {
        width: 150px;
        height: 150px;
    }

    .center-title {
        font-size: 26px;
    }

    .orbit-item {
        width: 80px;
        height: 80px;
        transform-origin: center -140px;
    }

    .orbit-item img {
        width: 60px;
        height: 60px;
    }

    .payout-text {
        margin-top: 75px;
        text-align: center;
    }

    .payout-title {
        text-align: center;
    }
}



@media (max-width: 576px) {

    .orbit-wrapper {
        width: 260px;
        height: 260px;
    }

    .center-logo {
        width: 120px;
        height: 120px;
        top: 38%;
    }

    .center-title {
        font-size: 20px;
    }

    .orbit-item {
        width: 60px;
        height: 60px;
        transform-origin: center -110px;
        top: 82%;
        left: 38%;
    }

    .orbit-item img {
        width: 50px;
        height: 50px;
    }

    .payout-title {
        font-size: 30px;
    }

    .payout-text {
        font-size: 16px;
        line-height: 26px;
        margin-top: 40px;
    }

    .visit-btn {
        padding: 10px 40px;
        font-size: 16px;
    }

    .circle-arrow {
        width: 45px;
        height: 45px;
    }
}



@media (max-width: 360px) {

    .orbit-wrapper {
        width: 220px;
        height: 220px;
    }

    .center-logo {
        width: 100px;
        height: 100px;
    }

    .orbit-item {
        width: 45px;
        height: 45px;
        transform-origin: center -90px;
    }

    .orbit-item img {
        width: 34px;
        height: 34px;
    }
}

.bank-section {
    background: #000;
    color: white;
    overflow: hidden;
}

.bank-title {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-style: Light;
    line-height: 61.69px;
    letter-spacing: 0px;
    font-weight: 300;
}

.bank-subtitle {
    color: #aaa;
    margin-bottom: 50px;
    font-weight: 300;
    font-style: Light;
    font-size: 18px;
    line-height: 37.01px;
    letter-spacing: 0px;
}

.bank-box {
    width: 80%;
    max-width: 1107px;
    height: 84.31073760986328px;

    margin: auto;
    overflow: hidden;

    border-radius: 38.89px;
    padding: 10px;
    border: 0.43px;


    background: linear-gradient(90deg, #1c1c1c, #2a2a2a);
}



.bank-box::before,
.bank-box::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100px;
    height: 100%;
    z-index: 2;
    pointer-events: none;
}

.bank-box::before {
    left: 0;
    ;

    background: linear-gradient(to right, #000, transparent);
}

.bank-box::after {
    right: 0;
    background: linear-gradient(to left, #000, transparent);
}



.bank-track {
    display: flex;
    gap: 20px;
    width: max-content;

    animation: scrollBanks 1000s linear infinite;
}

.bank-track:hover {
    animation-play-state: paused;
}

.bank-pill {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    font-style: Bold;
    font-size: 25.93px;
    line-height: 14.91px;
    letter-spacing: 0px;

    padding: 12px 22px;
    border-radius: 40px;

    background: #3a3a3a;
    white-space: nowrap;
    color: white;
    transition: .10s;
}

.bank-pill:hover {
    background: #4a4a4a;
}

.bank-pill img {
    width: 42.77743148803711px;
    height: 42.77743148803711px;
}

@keyframes scrollBanks {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-400%);
    }
}

@media(max-width:768px) {

    .bank-title {
        font-size: 28px;
    }

    .bank-box {
        width: 95%;
        padding: 15px;
    }

    .bank-pill {
        padding: 10px 18px;
        font-size: 17px;
    }

    .bank-pill img {
        width: 30.77743148803711px;
        height: 30.77743148803711px;
    }

}

.router-section {
    padding: 120px 0;
    background: #000;
    overflow: hidden;
}

.router-star {
    width: 85px;
    height: 85px;
    background: white;
    clip-path: polygon(50% 0%, 60% 40%, 100% 50%, 60% 60%,
            50% 100%, 40% 60%, 0% 50%, 40% 40%);
    bottom: 80%;
}

.router-title {
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 300;
    line-height: 1.3;
    margin-bottom: 25px;
    color: white;
}

.router-title span {
    background: linear-gradient(90deg, #FFFFFF, #7C66FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.router-desc {
    color: #bfbfbf;
    font-size: 22px;
    max-width: 600px;
    line-height: 1.7;
    font-weight: 300;
}

.router-right {
    position: relative;
    width: fit-content;
    margin-left: auto;
}

.main-img {
    border-radius: 11.64px;
    width: 416px;
    height: 568.119384765625px;
    position: relative;
    z-index: 1;
    box-shadow: 0 25px 70px rgba(0, 0, 0, 0.6);
}

.notify-card {
    position: absolute;
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 5px 5px;
    border-radius: 12px;
    color: #fff;
    width: 283px;
    background: linear-gradient(135deg, #FFFFFF00, #686868);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.notify-1 {
    top: 1px;
    left: -170px;
}

.notify-2 {
    top: 80px;
    left: -170px;
}

.avatar {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    object-fit: cover;
}

.notify-title {
    font-size: 15px;
    font-weight: 400;
}

.notify-sub {
    font-size: 11px;
    color: #eee;
}

.info-card {
    position: absolute;
    z-index: 10;
    display: flex;
    gap: 14px;
    align-items: flex-start;
    padding: 18px;
    border-radius: 16px;
    color: white;
    width: 243px;
    background: linear-gradient(135deg, rgba(120, 130, 140, 0.6), rgba(40, 45, 50, 0.6));
    backdrop-filter: blur(14px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.5);
}

.info-1 {
    bottom: 115px;
    right: -63px;
}

.info-2 {
    top: 470px;
    right: -63px;
}

.icon-box {
    width: 46px;
    height: 46px;
    background: rgba(255, 255, 255, 0.345);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 25px;
}

.info-title {
    font-size: 15px;
    font-weight: 500;
}

.status {
    font-size: 11px;
    color: #FFFFFF;
    margin: 2px 0;
}

.status span {
    font-size: 11px;
    color: #00FF61;
    font-weight: 500;
}

.info-sub {
    font-size: 13px;
    color: #e5e5e5;
}

@media (max-width: 1200px) {

    .main-img {
        width: 360px;
        height: auto;
    }

    .notify-card,
    .info-card {
        transform: scale(0.85);
    }

    .notify-1 {
        left: -140px;
    }

    .notify-2 {
        left: -140px;
    }

    .info-1 {
        right: -40px;
    }

    .info-2 {
        right: -40px;
    }
}

@media (max-width: 991px) {

    .router-section {
        padding: 80px 0;
        text-align: center;
    }

    .router-title {
        font-size: 34px;
    }

    .router-desc {
        font-size: 18px;
        margin: auto;
    }

    .router-right {
        margin: 60px auto 0;
    }

    .main-img {
        width: 320px;
    }

    .notify-card,
    .info-card {
        transform: scale(0.8);
    }

    .notify-1 {
        left: -130px;
        top: -7px;
    }

    .notify-2 {
        left: -130px;
        top: 55px;
    }

    .info-1 {
        right: -130px;
        bottom: 80px;
    }

    .info-2 {
        right: -130px;
        margin-top: -150px;
    }
}

@media (max-width: 576px) {

    .router-section {
        padding: 60px 0;
    }

    .router-title {
        font-size: 26px;
        line-height: 1.4;
    }

    .router-desc {
        font-size: 16px;
    }

    .main-img {
        width: 260px;
    }

    .notify-card,
    .info-card {
        transform: scale(0.6);
    }

    .notify-1 {
        left: -85px;
        top: -10px;
    }

    .notify-2 {
        left: -85px;
        top: 40px;
    }

    .info-1 {
        right: -65px;
        bottom: 48px;
    }

    .info-2 {
        right: -65px;
        top: 400px;
    }
}

.ecom-section {
    padding: 120px 0;
}

.ecom-wrapper {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    margin-left: 50px;
}

.ecom-img {
    width: 1387px;
    height: 574px;
    object-fit: cover;
    border-radius: 13.28px;
}

.card-stack {
    position: absolute;
    top: 60px;
    left: 60px;
    width: 520px;
}

.stack-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 18px;
}

.layer-1 {
    background: #DDD8FF;
    top: -18px;
    left: 18px;
}

.layer-2 {
    background: #4D4481;
    top: -10px;
    left: 10px;
}

.ecom-card {
    position: relative;
    padding: 40px;
    border-radius: 18px;
    color: white;
    background: linear-gradient(135deg, #39316C, #150F3D);
    box-shadow: 0 30px 80px rgba(0, 0, 0, 0.6);
}

.icon-circle {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.ecom-title {
    font-size: 34px;
    font-weight: 500;
    margin-bottom: 20px;
}

.ecom-title span {
    color: #a996ff;
    font-weight: 600;
}

.ecom-text {
    font-size: 15px;
    color: #dcdcdc;
    line-height: 1.7;
    max-width: 420px;
}

@media (max-width: 1200px) {

    .ecom-wrapper {
        margin-left: 0;
    }

    .ecom-img {
        width: 100%;
        height: 520px;
    }

    .card-stack {
        width: 460px;
        top: 50px;
        left: 40px;
    }

}

@media (max-width: 991px) {

    .ecom-section {
        padding: 80px 0;
    }

    .ecom-img {
        width: 100%;
        height: 420px;
    }

    .card-stack {
        position: relative;
        top: auto;
        left: auto;
        margin: -120px auto 0;
        width: 85%;
    }

    .ecom-card {
        padding: 30px;
    }

    .ecom-title {
        font-size: 26px;
    }

}

@media (max-width: 576px) {

    .ecom-section {
        padding: 60px 0;
    }

    .ecom-img {
        height: 300px;
    }

    .card-stack {
        width: 92%;
        margin: -100px auto 0;
    }

    .ecom-card {
        padding: 24px;
        border-radius: 14px;
    }

    .stack-layer {
        border-radius: 14px;
    }

    .layer-1 {
        top: -14px;
        left: 14px;
    }

    .layer-2 {
        top: -8px;
        left: 8px;
    }

    .ecom-title {
        font-size: 22px;
        line-height: 1.4;
    }

    .ecom-text {
        font-size: 14px;
    }

    .icon-circle {
        width: 40px;
        height: 40px;
        margin-bottom: 18px;
    }

}

.feature-section {
    padding: 120px 0;
}

.feature-title {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    line-height: 61.69px;
    color: white;
}

.gradient-feature {
    background: linear-gradient(90deg, #FFFFFF, #9D00FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 48px;
}

.feature-sub {
    font-family: 'Poppins', sans-serif;
    color: #bfbfbf;
    max-width: 600px;
    margin: 20px auto 60px;
    font-size: 18px;
    line-height: 37.01px;
}

.features-card {
    width: 360px;
    height: 338px;
    position: relative;
    padding: 30px;
    border-radius: 22px;
    color: white;
    height: 100%;
    background: linear-gradient(135deg, #39316C, #150F3D);
    border: 1px solid rgba(214, 207, 255, 0.3);
    transition: 0.3s;
}

.feature-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 20px 60px rgba(120, 80, 255, 0.3);
}

.plus {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 50px;
    opacity: 0.8;
}

.card-icon {
    width: 50px;
    height: 50px;
    border-radius: 8.57px;
    background: rgba(199, 189, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    font-size: 22px;
}

.card-small {
    color: #cfcfcf;
    font-size: 15px;
}

.card-title {
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    margin-top: 10px;
    line-height: 32.9px;
}

.card-description {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 23px;
}

.carousel-item {
    padding: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #7c66ff;
    border-radius: 50%;
    padding: 18px;
}

@media (min-width: 992px) {
    .mobile-carousel {
        display: none;
    }
}

@media (max-width: 991px) {

    .desktop-grid {
        display: none;
    }

    .feature-section {
        padding: 80px 0;
    }

    .feature-title,
    .gradient-feature {
        font-size: 34px;
        line-height: 1.4;
    }

    .features-card {
        width: 100%;
        height: auto;
        min-height: 260px;
    }
}

@media (max-width: 576px) {

    .feature-section {
        padding: 60px 0;
    }

    .feature-title,
    .gradient-feature {
        font-size: 26px;
    }

    .feature-sub {
        font-size: 15px;
        line-height: 1.6;
    }

    .card-icon {
        width: 44px;
        height: 44px;
    }

}

.testimonial-section {
    padding: 120px 0;
    position: relative;
    overflow: hidden;
}

.testimonial-section::before {
    content: "";
    position: absolute;
    bottom: -150px;
    left: 50%;
    transform: translateX(-50%);
    width: 800px;
    height: 400px;
    background: radial-gradient(circle, rgba(124, 102, 255, 0.25), transparent 70%);
    filter: blur(80px);
}

.testimonial-title {
    text-align: center;
    margin-bottom: 60px;
}

.testimonial-title h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 300;
    line-height: 76px;
}

.title p,
.testimonial-title p {
    font-family: 'Rubik', sans-serif;
    color: #FFFFFF;
    margin-top: 15px;
    font-weight: 400;
    font-size: 24px;
}

.testimonial-card {
    width: 398px !important;
    height: 502px !important;
    background: linear-gradient(180deg, #39316C, #150F3D);
    border-radius: 18px;
    padding: 30px;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 40px rgba(124, 102, 255, 0.15);
    display: flex;
    flex-direction: column;
}

.testimonial-card::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 10%;
    width: 80%;
    height: 3px;
    background: linear-gradient(90deg, transparent, #7c66ff, transparent);
    filter: blur(4px);
}

.avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.name {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 300;
    line-height: 32.9px;
}

.role {
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: #979797;
    margin-bottom: 15px;
}

.review {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #e0e0e0;
    line-height: 35px;
    margin-bottom: 30px;
}

.logo {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    letter-spacing: -1px;
    margin-top: auto;
}

.carousel-control-prev,
.carousel-control-next {
    display: none;
}

@media (max-width:1200px) {

    .testimonial-card {
        width: 100% !important;
        height: auto !important;
    }
}

@media (max-width:991px) {

    .testimonial-section {
        padding: 90px 0;
    }

    .testimonial-title h2 {
        font-size: 36px;
        line-height: 48px;
    }

    .testimonial-title p {
        font-size: 18px;
    }

    .testimonial-card {
        width: 100% !important;
        height: auto !important;
        padding: 26px;
        text-align: center;
    }

    .avatar {
        margin-left: auto;
        margin-right: auto;
    }

    .review {
        font-size: 16px;
        line-height: 28px;
    }

    .logo {
        margin-top: 30px;
    }

    .testimonial-section::before {
        width: 600px;
        height: 300px;
        bottom: -120px;
    }
}

@media (max-width:768px) {

    .testimonial-section {
        padding: 70px 0;
    }

    .testimonial-title h2 {
        font-size: 28px;
        line-height: 38px;
    }

    .testimonial-title p {
        font-size: 15px;
    }

    .testimonial-card {
        padding: 22px;
        border-radius: 16px;
    }

    .name {
        font-size: 20px;
    }

    .review {
        font-size: 14px;
        line-height: 24px;
    }

    .testimonial-section::before {
        width: 500px;
        height: 250px;
        filter: blur(60px);
    }
}

@media (max-width:480px) {

    .testimonial-title h2 {
        font-size: 24px;
        line-height: 32px;
    }

    .testimonial-card {
        padding: 18px;
    }

    .avatar {
        width: 60px;
        height: 60px;
    }

    .name {
        font-size: 18px;
    }

    .review {
        font-size: 13px;
    }
}



.support-wrapper {
    min-height: 100px;
}

.custom-support {
    width: 100%;
    max-width: 1600px;
    border-radius: 180px 184px 0 0;
    box-shadow:
        0 -11px #7C66FF,
        0 -52px 100px rgba(124, 102, 255, 0.25);
}


.support-title {
    font-family: 'Poppins', sans-serif;
    line-height: 69.65px;
    font-size: 48px;
}

.support-dec {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 37.01px;
}


.support-card {
    width: 528px;
    height: 603px;
    border-radius: 28px;
    padding: 41.16px;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.982);
}

.support-card2 {
    width: 604px;
    height: 598px;
    border-radius: 25px;
    padding: 41.16px;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.982);
}


.support-gradient {
    background: radial-gradient(circle at bottom right,
            #ff7bd5 0%,
            #6c63ff 40%,
            #0b0f2a 80%);
}

.support-purple2 {
    background: linear-gradient(135deg, #39316C, #150F3D);
}


.icon-box {
    width: 58.79px;
    height: 58.79px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    font-size: 23px;
}


.card-heading {
    line-height: 120%;
    color: #FFFFFF;
    font-size: 37.63px;
    font-weight: 300;
}

.card-text {
    font-weight: 300;
    line-height: 160%;
    margin-top: 20px;
    color: #FFFFFF;
    font-size: 19px;
}

.card-heading2 {
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 37.63px;
    line-height: 120%;
}


.video-box {
    position: relative;
}

.video-box img {
    width: 522px;
    height: 267px;
    border-radius: 25px;
}

.play-supportbtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 57px;
    height: 57px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, .6);
    display: flex;
    align-items: center;
    justify-content: center;
}


.learn-more {
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;
}

.circle-support {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #aaa;
    justify-content: center;
    background-color: #7C66FF;
}

.learn-more:hover {
    color: white;
}



@media (max-width: 1400px) {

    .support-card,
    .support-card2 {
        width: 100%;
        height: auto;
    }

    .video-box img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 992px) {

    .support-title {
        font-size: 38px;
        line-height: 52px;
    }

    .support-dec {
        font-size: 16px;
        line-height: 28px;
    }

    .support-card,
    .support-card2 {
        padding: 30px;
    }

    .card-heading,
    .card-heading2 {
        font-size: 30px;
    }

    .custom-support {
        height: auto;
        padding-bottom: 40px;
        border-radius: 80px 80px 0 0;
    }
}

@media (max-width: 768px) {

    .support {
        padding-top: 40px;
    }

    .support-title {
        font-size: 28px;
        line-height: 38px;
    }

    .support-dec {
        font-size: 14px;
        line-height: 24px;
        padding: 0 10px;
    }

    .card-heading,
    .card-heading2 {
        font-size: 24px;
    }

    .card-text {
        font-size: 15px;
    }

    .support-card,
    .support-card2 {
        padding: 24px;
        border-radius: 20px;
    }

    .custom-support {
        border-radius: 50px 50px 0 0;
        box-shadow:
            0 -6px 3px #7C66FF,
            0 -20px 50px rgba(124, 102, 255, 0.25);
    }

    .icon-box {
        width: 48px;
        height: 48px;
        font-size: 18px;
    }

    .play-supportbtn {
        width: 45px;
        height: 45px;
    }
}

@media (max-width: 480px) {

    .support-title {
        font-size: 24px;
    }

    .card-heading,
    .card-heading2 {
        font-size: 22px;
    }

    .card-text {
        font-size: 14px;
    }

    .support-card,
    .support-card2 {
        padding: 20px;
    }
}

.sdk-section {


    background: #05060a;
    color: white;
    font-family: 'Poppins', sans-serif;
}


.sdk-title {
    font-weight: 300;
    font-style: Light;
    font-size: 48px;
    line-height: 76px;
    letter-spacing: 0px;
    font-family: 'Poppins', sans-serif;

}

.sdk-subtitle {
    font-family: 'Poppins', sans-serif;

    font-weight: 300;
    font-style: Light;
    font-size: 18px;
    line-height: 37.01px;

    color: #9ca3af;
    margin-top: 10px;
}


.sdk-image-wrapper {
    width: 597px;
    height: 330px;

    border-radius: 20px;
    padding: 10px;
    background: radial-gradient(circle at left,
            #7C66FF4D,
            transparent 60%);
}


.ecosystem-title {
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    font-weight: 300;
    font-style: Light;
    line-height: 65px;
    font-size: 45px;
    line-height: 1.4;
}

.ecosystem-title span {
    color: #a78bfa;
}

.ecosystem-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-style: Light;
    font-size: 18px;
    line-height: 37.01px;
    color: #FFFFFF;
    margin-top: 15px;
}


.doc-btn {
    width: 218px;
    height: 55;

    border: 1px solid rgba(255, 255, 255, 0.4);
    color: white;
    padding: 12px 26px;
    border-radius: 30px;
    font-size: 18px;
    letter-spacing: 1px;
}

.doc-btn:hover {
    background: white;
    color: black;
}

.circle-btn {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.circle-btn:hover {
    background: white;
    color: black;
}


.star-icon {
    position: absolute;
    right: 60px;
    top: -30px;
    font-size: 40px;
    color: white;
    opacity: 0.9;
}


@media (max-width: 768px) {

    .ecosystem-title {
        font-size: 28px;
    }

    .sdk-title {
        font-size: 30px;
    }

    .star-icon {
        display: none;
    }

}

@media (max-width: 480px) {

    .sdk-image-wrapper {
        width: 350px !important;
        height: 200px !important;

        border-radius: 20px;
        padding: 10px;
        background: radial-gradient(circle at left,
                #7C66FF4D,
                transparent 60%);
    }
}

@media (max-width: 320px) {

    .sdk-image-wrapper {
        width: 300px !important;
        height: 200px !important;

        border-radius: 20px;
        padding: 10px;
        background: radial-gradient(circle at left,
                #7C66FF4D,
                transparent 60%);
    }
}

.api-section {
    background: #05060a;
    color: white;
    font-family: 'Poppins', sans-serif;
}


.api-title {
    font-family: 'Poppins', sans-serif;

    font-size: 45px;
    font-weight: 700;
    line-height: 65px;

}

.api-title span {
    color: #a78bfa;
}


.api-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-style: Light;
    font-size: 18px;
    color: #9ca3af;
    margin-top: 18px;
    max-width: 590px;
    line-height: 37.01px;
    letter-spacing: 0px;
}


.api-image-wrapper {
    border-radius: 20px;
    padding: 12px;
    background: radial-gradient(circle at right,
            rgba(124, 58, 237, 0.35),
            transparent 20%);
}


.doc-btn {
    width: 218px;
    height: 55px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: white;
    padding: 12px 26px;
    border-radius: 30px;
    font-size: 18px;
    letter-spacing: 1px;
}

.doc-btn:hover {
    background: white;
    color: black;
}


.circle-btn {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-size: 35px;
}

.circle-btn:hover {
    background: white;
    color: black;
}


.star-icon {
    position: absolute;
    left: -40px;
    top: -30px;
    font-size: 40px;
    color: white;
}

.custom-support1 {
    width: 100%;
    max-width: 1600px;
    border-radius: 180px 184px 0 0;
    box-shadow:
        0 -11px #7C66FF,
        0 -52px 100px rgba(124, 102, 255, 0.25);
}

@media (max-width: 768px) {

    .api-title {
        font-size: 28px;
    }

    .star-icon {
        display: none;
    }

}

.faq-section {
    padding: 120px 0;
    position: relative;
    overflow: hidden;
}

.faq-section::before {
    content: "";
    position: absolute;
    top: -200px;
    left: 50%;
    transform: translateX(-50%);
    width: 900px;
    height: 500px;
    background: radial-gradient(circle, rgba(124, 102, 255, 0.18), transparent 70%);
    filter: blur(120px);
    z-index: 0;
}

.faq-bg-text {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 320px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.04);
    letter-spacing: 20px;
    white-space: nowrap;
    pointer-events: none;
    user-select: none;
    z-index: 0;
}

.faq-left {
    position: relative;
    z-index: 2;
}

.star {
    font-size: 40px;
    margin-bottom: 20px;
}

.faq-title {
    font-family: 'Poppins', sans-serif;
    line-height: 77px;
    /* letter-spacing: 10px; */
    font-style: Light;
    font-size: 56px;
    font-weight: 300;
    line-height: 1.2;
}

.faq-title span {
    background: linear-gradient(90deg, #c7bfff, #7c66ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

.chat-help {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-style: Light;
    line-height: 100%;
    margin-top: 20px;
    font-size: 17px;
    color: #a5a5a5;
}

.chat-help span {
    color: #7c66ff;
}

.faq-right {
    position: relative;
    z-index: 2;
}

.faq-item {
    margin-bottom: 20px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 12px;
    overflow: hidden;
}

.faq-question {
    font-size: 18px;
    font-weight: 500;
    background: transparent;
    color: #fff;
    box-shadow: none;
}

.faq-question:not(.collapsed) {
    background: rgba(124, 102, 255, 0.08);
    color: #fff;
}

.faq-question:focus {
    box-shadow: none;
}

.faq-answer {
    font-size: 15px;
    color: #b5b5b5;
    line-height: 1.7;
    background: transparent;
}

.accordion-button::after {
    filter: invert(1);
}

.accordion-item {
    background: transparent;
}

@media (max-width:1200px) {
    .faq-bg-text {
        font-size: 240px;
    }
}

@media (max-width:991px) {

    .faq-section {
        padding: 90px 0;
    }

    .faq-title {
        font-size: 36px;
    }

    .faq-bg-text {
        font-size: 180px;
        left: -20px;
    }

    .faq-right {
        margin-top: 40px;
    }
}

@media (max-width:768px) {

    .faq-section {
        padding: 70px 0;
    }

    .faq-title {
        font-size: 30px;
    }

    .faq-question {
        font-size: 16px;
    }

    .faq-answer {
        font-size: 14px;
    }

    .faq-bg-text {
        font-size: 130px;
        left: -10px;
    }
}

@media (max-width:480px) {

    .faq-bg-text {
        font-size: 90px;
    }

    .faq-title {
        font-size: 26px;
    }
}

.cta-section {
    position: relative;
    text-align: center;
}


.cta-section::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.06) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.06) 1px, transparent 1px);
    background-size: 80px 80px;
    opacity: 0.25;
}


.cta-glow {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 520px;
    height: 360px;
    background: radial-gradient(circle, rgba(124, 102, 255, 0.45), transparent 70%);
    filter: blur(100px);
}


.cta-title {
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 15px;
}

.cta-title span {
    background: linear-gradient(90deg, #c7bfff, #7c66ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

.cta-desc {
    color: #a5a5a5;
    font-size: 16px;
    margin-bottom: 60px;
}


.cta-btn-wrapper {
    position: relative;
    display: inline-block;
    z-index: 2;
}

.cta-btn {
    padding: 18px 80px;
    border-radius: 14px;
    border: none;
    font-size: 18px;
    color: white;
    background: linear-gradient(90deg, #7c66ff, #5a49c9);
    box-shadow: 0 0 40px rgba(124, 102, 255, 0.5);
}


.you-badge {
    position: absolute;
    right: -75px;
    top: 100%;
    transform: translateY(-50%);
    padding: 6px 18px;
    border-radius: 20px;
    font-size: 14px;
    background: linear-gradient(90deg, #ff00cc, #7c66ff);
    border: 2px solid white;
    box-shadow: 0 0 15px rgba(255, 0, 204, 0.6);
}


.cursor {
    position: absolute;
    right: -15px;
    top: 90%;
    transform: translateY(-50%);
    width: 26px;
}


@media (max-width: 991px) {

    .cta-title {
        font-size: 36px;
    }

    .cta-btn {
        padding: 16px 55px;
        font-size: 16px;
    }

    .you-badge {
        right: -60px;
    }

    .cursor {
        right: 0;
    }
}

@media (max-width: 576px) {

    .cta-title {
        font-size: 28px;
    }

    .cta-desc {
        font-size: 14px;
    }

    .cta-glow {
        width: 300px;
        height: 240px;
    }

    .you-badge {
        right: -50px;
        font-size: 12px;
    }
}